<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Сервер недоступен</title>
	</head>
	<body>
		<main>
			<div class="py-5 px-3 bg-body-secondary rounded mb-4">
				<div class="card text-center align-items-center">
					<h1 class="h4 mt-3 mb-3">Ошибка на&nbsp;стороне сервера</h1>
					<div
						class="alert alert-warning d-flex align-items-center col-8"
						role="alert"
					>
						<i
							aria-label="Warning:"
							class="bi bi-exclamation-triangle fs-3 me-2"
							role="img"
						></i>
						<p>
							Пожалуйста, обновите страницу, а&nbsp;если проблема
							не&nbsp;исчезнет&nbsp;&mdash; перезайдите позже.
						</p>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
